/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET DONE */

body, html {
	height: 100%;
	width: 100%;
}

body {
  margin: 0 auto;
  font: 1em/1.3em Montserrat, Helvetica, sans-serif;
  background: url(../images/abstract-jumbo2.jpg) no-repeat fixed center center;
  /*background-size: cover;*/
}

.clearfix {
  clear: both;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    width: 99%;
}

.menu .img-responsive {
	max-width: 35%;
    padding: 5px;
}

.fold {
	/*height: 85%;
    width: 100%;
	text-align: center;
	padding-top: 5%;
	margin-right: 0px;*/
	/*background: url(../images/5.jpg) no-repeat fixed center center;
	background-size: cover;*/
	text-align: center;
}

.end {
	background: url(../images/5.jpg) fixed center center;
	background-size: cover;
}

.rowMargin {
	height: 85%;
}

.inputField {
    height: 80%;
    border: 2px solid lightsalmon;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 3%;
}

.form-horizontal {
	/*margin-top: 45%;*/
}

.signIn {
	margin-top: 10px;
}

.col-sm-2 .fold {
  height: 100%;
  margin-left: 200px;
  text-align: center;
  /*background: url(../images/5.jpg);*/
  width:100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}


a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}


.navbar {
	position: fixed;
	left: 0;
	width: 225px;
	height: 100%;

	-webkit-box-shadow: 10px 0 10px 0 rgba(0,0,0,.2);
	box-shadow: 10px 0 10px 0 rgba(0,0,0,0.2);

	border: 1px solid #0597b5;
	background-color: #0597b5;
}

  .navbar i { margin-right: 10px; }
  .navbar a.menu {
    display: block;
    margin: 0;
    width: 100%;
    height: 70px;
    color: #444;
    background-color: #fff;
    font-size: 23px;
    line-height: 50px;
  }
  .navbar .link {
    position: relative;
    display: block;
    margin: 0;
    width: 100%;
    height: 50px;
    z-index: 1;

    perspective: 100px;
    -webkit-perspective: 100px; /* Safari and Chrome */

    transition: .23s;
    -webkit-transition: .23s;
  }
    .navbar .link:hover { height: 150px; }
      .navbar .link.large:hover { height: 230px; }

    .navbar .link a {
      display: block;
      color: #999;
      text-align: left;
      padding-left: 20px;

      transition: .3s;
      -webkit-transition: .3s;
    }
      .navbar .link a:hover {
        color: #666;
        padding-left: 30px;
      }

    .navbar .link span.active,
    .navbar .link .hover-top,
    .navbar .link .hover-bot {
      display: block;
      position: absolute;
      width: 100%;
      height: 50px;
      line-height: 50px;
      left: 0;
      top: 0;
      color: #777;
      font-size: 12px;

      transition: .23s;
      -webkit-transition: .23s;
    }

      /* Larger foldout size */
      .navbar .link.large .hover-top,
      .navbar .link.large .hover-bot {
        line-height: 45px;
        height: 90px;
      }
      .navbar .link.large:hover .hover-bot {
        transform: translateY(140px) rotateX( 0deg );
        -webkit-transform: translateY(140px) rotateX( 0deg );
        background-color: #f0f0f0;
      }

    .navbar .link span.active {
      top: 0;
      left: 0;
      background-color: #fff;
      color: #aaa;
      font-size: 13px;
      border-top: 1px solid rgba(0,0,0,.1);
    }

    .navbar .link .hover-top {
      top: 50px;
      transform-origin: 0% 0% 0px;
      -webkit-transform-origin: 0% 0% 0px;

      transform: rotateX( -90deg );
      -webkit-transform: rotateX( -90deg );
      z-index: -1;

      background-color: #fff;
    }
      .navbar .link:hover .hover-top {
        transform: rotateX( 0deg );
        -webkit-transform: rotateX( 0deg );
        background-color: #f0f0f0;
    }
    .navbar .link .hover-bot {
      transform-origin: 0% 100% 0px;
      -webkit-transform-origin: 0% 100% 0px;

      transform: rotateX( 130deg );
      -webkit-transform: rotateX( 130deg );
      z-index: -1;

      background-color: #888;
    }
      .navbar .link:hover .hover-bot {
        transform: translateY(100px) rotateX( 0deg );
        -webkit-transform: translateY(100px) rotateX( 0deg );
        background-color: #f0f0f0;
      }

    .navbar .end {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-top: 1px solid rgba(0,0,0,.1);
    }
